@import "tailwindcss";
@layer {
  .shadow {
    @apply h-25 shadow-xl focus:ring-black rounded-md w-3xs flex justify-center items-center;
  }
  .padding-y {
    @apply py-28;
  }
  .padding-x {
    @apply px-16;
  }
  .padding {
    @apply py-10 px-10;
  }
}
.max-container {
  max-width: 1440px;
  margin: 0%;
}
.bg-image {
  background-image: url("../src/assets/images/thumbnail-background.svg");
  background-position: right;
  background-size: contain;
  background-size: 50%;
  background-repeat: no-repeat;
  background-blend-mode: normal;
}
.bg-color {
  background-color: rgb(193, 196, 222);
}
* {
  scroll-behavior: smooth;
}
.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
